<!DOCTYPE html>
<html>
  <head>
    <body style="background-color:#4A6274;"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
          @font-face {
          font-family: 'JetBrains';
          src: url('static/JetBrainsMono-Regular.ttf');
          font-weight: normal;
          } 
          h1, h2, h3, p {
            color: #ADEFD1FF;      
          }
          </style>      
    <title>Speech to text</title>
  </head>
  <style>
    body  {
    background-image: url('static/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
    font-family: 'JetBrains', sans-serif;
    }
        </style>

  <body>
    <br />
    <br />
    <h1>Speech to text</h1>
    <br />
    <p style="font-size:85%"> Record your voice using your mic </p>
    <form action="/record" method="POST">
      <button type="submit" style="font-family: JetBrains; background-color:#79AEB2" onclick="recording()">Record</button>
      <span id="recording-status"></span>
    </form>
    <br />
    <p style="font-size:85%"> or upload an audio file </p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" style="font-family: JetBrains; background-color:#79AEB2" name="file" />
      <br />
      <br />
      <button style="font-family: JetBrains; background-color:#79AEB2" onclick="processing()">Upload Audio</button>
      <span id="process-status"></span>
    </form>
    <script>
        function recording() {
          const status = document.getElementById("recording-status");
          status.style.color = '#E2725A';
          status.innerHTML = 'Recording...';
        }
        function processing() {
          const status = document.getElementById("process-status");
          status.style.color = '#E2725A';
          status.innerHTML = 'Processing your audio...';
        }        
      </script>
      
    <br />
        <h3>{{ text }}</h3>
        <br />
      <form action="/download" method="get">
        <button type="submit" style="font-family: JetBrains; background-color:#79AEB2"> Download text </button>
      </form>           
  </body>
</html>
