<!DOCTYPE html>
<html>
  <head>
    <body style="background-color:#4A6274;"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
          @font-face {
          font-family: 'JetBrains';
          src: url('static/JetBrainsMono-Regular.ttf');
          font-weight: normal;
          } 
          h1, h2, h3, p {
            color: #ADEFD1FF;      
          }
          </style>      
    <title>Speech to text</title>
  </head>
  <style>
    body  {
    background-image: url('static/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
    font-family: 'JetBrains', sans-serif;
    }
        </style>

  <body>
    <br />
    <br />
    <h1>Speech text</h1>
    <p style="font-size:85%"> Record your voice using your mic </p>
   
    <div id="controls">
      <button id="recordButton">Record</button>
      <button id="pauseButton" disabled>Pause</button>
      <button id="stopButton" disabled>Stop</button>
     </div>
     <div id="formats">Format: start recording to see sample rate</div>
     <p>Recordings:</p>
     <ol id="recordingsList"></ol>
     <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
     <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
     <script src="static/app.js"></script>

    <br />
    <p style="font-size:85%">... or upload an audio file (wav) </p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" style="font-family: JetBrains; background-color:#79AEB2" name="file" />
      <input type="submit" value="Upload Audio File" style="font-family: JetBrains; background-color:#79AEB2">
    </form>
      <p style="font-size:65%"> File uploaded: {{ uploadedName }}</p>
      <br />
    <form action="/transcribe" method="post">
      
      <label for="dropdown">Language:</label>
      <select name="dropdown" id="dropdown">
        <option value="en-US">English</option>
        <option value="es-ES">Español</option>
        <option value="es-AR">Español(Arg)</option>
        <option value="fr-FR">French</option>
        <option value="de-DE">Deutsch</option>
      </select>

      <br />
      <br />
      <br />

      <button name="transcribe" type="submit" style="font-family: JetBrains; background-color:#79AEB2" onclick="processing()">CONVERT SPEECH > TEXT</button>
      <span id="process-status"></span>
    </form>     

      <script>
        function recording() {
          const status = document.getElementById("recording-status");
          status.style.color = '#E2725A';
          status.innerHTML = 'Listen your voice...';
        }
        function processing() {
          const status = document.getElementById("process-status");
          status.style.color = '#E2725A';
          status.innerHTML = 'Processing your audio...';
        }        
      </script>
      
    <br />
        <h3>{{ text }}</h3>
        <br />
      <form action="/download" method="get">
        <button type="submit" style="font-family: JetBrains; background-color:#79AEB2"> Download text </button>
      </form>           
  </body>
</html>